<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (messageChat(); as messageChatRef) {
      <div>
        <h2 data-cy="messageChatDetailsHeading"><span jhiTranslate="assistaCriseApp.messageChat.detail.title">Message Chat</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ messageChatRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.messageChat.contenu">Contenu</span></dt>
          <dd>
            <span>{{ messageChatRef.contenu }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.messageChat.dateEnvoi">Date Envoi</span></dt>
          <dd>
            <span>{{ messageChatRef.dateEnvoi | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.messageChat.auteur">Auteur</span></dt>
          <dd>
            <span>{{ messageChatRef.auteur?.login }}</span>
          </dd>
          <dt><span jhiTranslate="assistaCriseApp.messageChat.demande">Demande</span></dt>
          <dd>
            @if (messageChat()!.demande) {
              <div>
                <a [routerLink]="['/demande', messageChat()!.demande?.id, 'view']">{{ messageChatRef.demande?.titre }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/message-chat', messageChatRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
